flows.json
[{"id":"9a9925a3.cda3c8","type":"tab","label":"helloworld","disabled":false,"info":""},{"id":"292f9f2a.2b6a1","type":"uibuilder","z":"9a9925a3.cda3c8","name":"","topic":"","url":"turbine_dashboard","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":910,"y":420,"wires":[["2b1679cf.1b5e76"],["2b1679cf.1b5e76"]]},{"id":"2b1679cf.1b5e76","type":"debug","z":"9a9925a3.cda3c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":420,"wires":[]},{"id":"138de4af.8508db","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":20,"wires":[["292f9f2a.2b6a1"]]},{"id":"af58cc91.1e912","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"Axial 1 - Direct","payload":"1","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":20,"wires":[["138de4af.8508db"]]},{"id":"303125f2.44558a","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"Axial 2 - Direct","payload":"2","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":60,"wires":[["26bfd964.61cd06"]]},{"id":"26bfd964.61cd06","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":60,"wires":[["292f9f2a.2b6a1"]]},{"id":"50c6af79.034f8","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":100,"wires":[["292f9f2a.2b6a1"]]},{"id":"1649ab58.46a255","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":140,"wires":[["292f9f2a.2b6a1"]]},{"id":"c697b47c.380538","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["292f9f2a.2b6a1"]]},{"id":"a1895a1b.8834b8","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"Speed","payload":"3","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":100,"wires":[["50c6af79.034f8"]]},{"id":"89bcef4.718881","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"Diff. Exp. - Direct","payload":"4","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":140,"wires":[["1649ab58.46a255"]]},{"id":"4145dca.66bb424","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"ECC","payload":"5","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":180,"wires":[["c697b47c.380538"]]},{"id":"fe050930.b83b98","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":220,"wires":[["292f9f2a.2b6a1"]]},{"id":"a5d2c1f2.15402","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 1Y - Direct","payload":"6","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":220,"wires":[["fe050930.b83b98"]]},{"id":"24dd14fe.f106dc","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 1Y - Gap","payload":"7","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":260,"wires":[["60826fc3.bb721"]]},{"id":"60826fc3.bb721","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":260,"wires":[["292f9f2a.2b6a1"]]},{"id":"334ad908.e2cda6","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["292f9f2a.2b6a1"]]},{"id":"6aff9b13.326d74","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":340,"wires":[["292f9f2a.2b6a1"]]},{"id":"b3b1d1d4.55cc4","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 2Y - Direct","payload":"8","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":300,"wires":[["334ad908.e2cda6"]]},{"id":"8c5b86aa.9ee638","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 2Y - Gap","payload":"9","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":340,"wires":[["6aff9b13.326d74"]]},{"id":"5cb80756.f21e08","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":380,"wires":[["292f9f2a.2b6a1"]]},{"id":"eb3e3de5.16a2a","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 3Y - Direct","payload":"10","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":380,"wires":[["5cb80756.f21e08"]]},{"id":"25f0ef25.c72be","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 3Y - Gap","payload":"11","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":420,"wires":[["1f3b3da4.cbd4d2"]]},{"id":"1f3b3da4.cbd4d2","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":420,"wires":[["292f9f2a.2b6a1"]]},{"id":"86bad779.5b7658","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["292f9f2a.2b6a1"]]},{"id":"f552e2d9.b136e","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":500,"wires":[["292f9f2a.2b6a1"]]},{"id":"57b05649.5903e8","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 4Y - Direct","payload":"12","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":460,"wires":[["86bad779.5b7658"]]},{"id":"ec0d8c9d.f2c54","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 4Y - Gap","payload":"13","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":500,"wires":[["f552e2d9.b136e"]]},{"id":"368aa12c.ff276e","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":540,"wires":[["292f9f2a.2b6a1"]]},{"id":"b3a3e844.e44ec8","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 1X - Direct","payload":"14","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":540,"wires":[["368aa12c.ff276e"]]},{"id":"d9d4e2ba.21fdf","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 1X - Gap","payload":"15","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":580,"wires":[["b0e68fb5.7279f"]]},{"id":"b0e68fb5.7279f","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":580,"wires":[["292f9f2a.2b6a1"]]},{"id":"e177bf10.aa559","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":620,"wires":[["292f9f2a.2b6a1"]]},{"id":"5379ec06.7e6eb4","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":660,"wires":[["292f9f2a.2b6a1"]]},{"id":"ddcf64df.a50e48","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 2X - Direct","payload":"16","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":620,"wires":[["e177bf10.aa559"]]},{"id":"945e1436.3d58e8","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 2X - Gap","payload":"17","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":660,"wires":[["5379ec06.7e6eb4"]]},{"id":"59ac2221.21401c","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":700,"wires":[["292f9f2a.2b6a1"]]},{"id":"1d8547a1.d0a968","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 3X - Direct","payload":"18","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":700,"wires":[["59ac2221.21401c"]]},{"id":"238eead0.2bcbc6","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 3X - Gap","payload":"19","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":740,"wires":[["f3c2cd9b.9f3d2"]]},{"id":"f3c2cd9b.9f3d2","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":740,"wires":[["292f9f2a.2b6a1"]]},{"id":"3d2e17db.878308","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":780,"wires":[["292f9f2a.2b6a1"]]},{"id":"91e816be.776ee8","type":"change","z":"9a9925a3.cda3c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[payload, ($random()*10)]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":820,"wires":[["292f9f2a.2b6a1"]]},{"id":"ac24ae02.19cd9","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 4X - Direct","payload":"20","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":780,"wires":[["3d2e17db.878308"]]},{"id":"e444bdb3.2bf2c","type":"inject","z":"9a9925a3.cda3c8","name":"","topic":"BRG - 4X - Gap","payload":"21","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":820,"wires":[["91e816be.776ee8"]]}]